extends layout

block content
  body.home
    #fb-root
    header
      .header-top
        .container.clearfix
          .header-social
            a(href='https://www.facebook.com/klychkovandrey')
              i.fa.fa-facebook(aria-hidden='true')
            a(href='https://www.instagram.com/klychkov_andrey/')
              i.fa.fa-instagram(aria-hidden='true')
            a(href='https://twitter.com/kly4kov')
              i.fa.fa-twitter(aria-hidden='true')
            a(href='https://ok.ru/andreyklychkov')
              i.fa.fa-odnoklassniki(aria-hidden='true')
          |  
          a.logo(href='/') &Acy;&ncy;&dcy;&rcy;&iecy;&jcy; &Kcy;&lcy;&ycy;&chcy;&kcy;&ocy;&vcy;
          .menu-burger
            span
            span
            span
        .mobile-menu
          .container
            .header-social
              a(href='')
                i.fa.fa-facebook(aria-hidden='true')
              a(href='')
                i.fa.fa-vk(aria-hidden='true')
              a(href='')
                i.fa.fa-instagram(aria-hidden='true')
              a(href='')
                i.fa.fa-twitter(aria-hidden='true')
              a(href='')
                i.fa.fa-telegram(aria-hidden='true')
              a(href='')
                i.fa.fa-youtube-play(aria-hidden='true')
              a(href='')
                i.fa.fa-odnoklassniki(aria-hidden='true')
            nav
              ul.clearfix
                li
                  a(href='/') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
                li
                  a(href='/biography') &Bcy;&icy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&yacy;
                li
                  a(href='#') &Vcy;&ocy;&lcy;&ocy;&ncy;&tcy;&iecy;&rcy;&acy;&mcy;
                li
                  a(href='#') &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&acy;&tcy;&softcy;
                li
                  a(href='#') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
      .header-bottom
        .container.clearfix
          nav
            ul.clearfix
              li.active
                a(href='/') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
              li
                a(href='/biography') &Bcy;&icy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&yacy;
              li.photo
                a(href='/')
                  img(src='/images/img-1.png')
              li
                a(href='/contacts') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
    main
      section.container.clearfix
        section.main-contant
          each post, index in posts
            article.post-item
              a.post-item-title(href="/post/" + post.id) #{post.title}
              .post-item-top.clearfix
                .post-item-top-data
                  data(value='19.03.2017') #{post.date}
              .contant 
                img(src="/" + post.image)
                | !{post.shortContent}
                a.post-item-full(href="/post/" + post.id) Читать далее
              hr
        aside
          .search
            form.clearfix
              input(type='text', name='search', placeholder='Поиск')
              |  
              input(type='submit')
          .aside-news
            .post-item-title &Scy;&mcy;&ocy;&tcy;&rcy;&icy;&tcy;&iecy; &iecy;&shchcy;&iecy;
            each rpost, index in random
              .aside-post-item
                a(href="/post/" + rpost._id) #{rpost.title}
                .post-item-top.clearfix
                  .post-item-top-data
                    data(value='19.03.2017') #{rpost.date}